<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="shortcut icon" href="https://laliteradice.files.wordpress.com/2023/04/imagen-6.png?w=1024" />
    <title>Telcel</title>
    <style>
        body{
            background-color: #FFF;
        }
        input[type="submit"]{
            background-color: #008000;
            color: #FFF;
        }
        footer {
            padding-top: 30px;
            background-color: #292c2f;
            color: #bbb;
        }
        img{
            width: 20%;
        }
        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: 0.3s;
            border-radius: 8px;
        }

        .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        .delete, .edit{
            outline: none;
            text-decoration: none;
            padding: 2px 1px 0;
        }
    </style>
</head>

<body>
    <div data-role="page">
        <div data-role="header">
            <a href="#demo-intro" data-rel="back" data-icon="carat-l" data-iconpos="notext">Back</a>
            <h1>iPhone Store</h1>
        </div>
        <div data-role="content">
            <form  action="/<%= phone.serialNumber %>" method="POST">
                <input type="text" name="serialNumber" placeholder="Código de Barras" value="<%= phone.serialNumber %>">
                <input type="text" name="model" placeholder="Modelo" value="<%= phone.model %>">
                <input type="number" name="price" placeholder="Precio de Compra" value="<%= phone.price %>">
                <input type="number" name="cost" placeholder="Precio de Venta" value="<%= phone.cost %>">
                <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                    <legend>Tamaño:</legend>
                        <input type="radio" name="size" id="radio-choice-c" value="Normal" <%= phone.size==="Normal"?"checked":"" %> >
                        <label for="radio-choice-c"  >Normal</label>
                        
                        <input type="radio" name="size" id="radio-choice-m" value="Pro" <%= phone.size==="Pro"?"checked":"" %> >
                        <label for="radio-choice-m"  >Pro</label>

                        <input type="radio" name="size" id="radio-choice-g" value="Pro Max" <%= phone.size==="Pro Max"?"checked":"" %> >
                        <label for="radio-choice-g">Pro Max</label>
                    </fieldset>

                <label for="flip-2">Activo</label>
                <select name="status" id="flip-2" data-role="slider">
                    <option value="0" <%= phone.status=0?"selected":"" %> >No &#128369;</option>
                    <option value="1" <%= phone.status=1?"selected":"" %> >Si &#128374;</option>
                </select>
                    <input type="submit" value="Saved">
            </form>
        </div>
    </div>
</body>

</html>
